body {
	background-color:#FFF;
	color:#444;
	font-family:Times New Roman;
	font-size:87.5%;
}
a {
	color:#3354AA;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:250%;
	font-family:Microsoft Yahei;
}
table {
	text-align: center;
}
#footer {
	padding:3em 0;
	line-height:1.5;
	text-align:center;
	color:#999;
}